/* make the text center and color black*/
.center {
    text-align: center;
    color: black;
  }

  /*make a paragraph in red and center*/
  #para1 {
    text-align: center;
    color: red;
  }
 /*make background aliceblue*/
  * {
    background-color: aliceblue;
  }

  footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }

/*the attribute selector*/
  [att$="test"] {
    background: yellow;
  }

  /*pseudo selector*/
  pi {
    display: none;
    background-color: yellow;
    padding: 20px;
  }
  
  div:hover pi {
    display: block;
  }

  /*selector list*/
  table, th, td {
    border: 1px solid black;
  }

  /*descendant combinator*/
  form label {
    background-color: yellow;
  }

  /*child Selector*/
  ol li {
    background-color: white;
  }

  /*adjacent sibling selector*/
  label ~ h2 {
    text-align: center;
  }

  div + p {
    background-color: yellow;
    text-align: center;
    text-shadow: yellowgreen;
    text-decoration: line-through;
  }

  p.delete {
    text-decoration: line-through;
  }